<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/admin">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>DMS Authorization</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" i18n-nzTitle nzIcon="dashboard">
        <ul>

          <li *ngxPermissionsOnly="[permissionSchema.distributor, permissionSchema.all]" nz-menu-item nzMatchRouter>
            <a i18n routerLink="/admin/distributor">Distributor</a>
          </li>
          <li *ngxPermissionsOnly="[permissionSchema.item, permissionSchema.all]" nz-menu-item nzMatchRouter>
            <a i18n routerLink="/admin/item">Item</a>
          </li>
        </ul>
      </li>
      <li *ngxPermissionsOnly="[permissionSchema.all]" nz-submenu nzOpen nzTitle="Authorization" i18n-nzTitle
        nzIcon="team">
        <ul>
          <li *ngxPermissionsOnly="[permissionSchema.all]" nz-menu-item nzMatchRouter>
            <a i18n routerLink="/admin/authorization/role">Role</a>
          </li>
          <li *ngxPermissionsOnly="[permissionSchema.all]" nz-menu-item nzMatchRouter>
            <a i18n routerLink="/admin/authorization/user">User</a>
          </li>
          <li *ngxPermissionsOnly="[permissionSchema.all]" nz-menu-item nzMatchRouter>
            <a i18n routerLink="/admin/authorization/permission-object">Object</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="user-info">
          <app-notification></app-notification>

          <span nz-dropdown [nzDropdownMenu]="language">
            Languages
            <i nz-icon nzType="down"></i>
          </span>
          <nz-dropdown-menu #language="nzDropdownMenu">
            <ul class="seller-feature" nz-menu>
              <li nz-menu-item><a href="/vi-VN/">Vietnamese</a></li>
              <li nz-menu-item><a href="/en-US/">English</a></li>
            </ul>
          </nz-dropdown-menu>

          <span class="user-dropdown" nz-dropdown [nzDropdownMenu]="menu">
            <img [src]="userImageUrl" width="34" height="34">
            {{userName}}
            <i nz-icon nzType="down"></i>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul class="seller-feature" nz-menu>
              <li nz-menu-item [routerLink]="['/admin/user/profile']">Profile</li>
              <li nz-menu-item [routerLink]="['/admin/user/change-password']">Change password</li>
              <li nz-menu-item (click)="logout()">Logout</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-layout class="inner-layout">
      <nz-breadcrumb [nzAutoGenerate]="true">
      </nz-breadcrumb>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2023 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>